.box-shadow {
  -webkit-box-shadow: 10px 10px 98px 34px rgba(64, 194, 105, 1);
  -moz-box-shadow: 10px 10px 98px 34px rgba(64, 194, 105, 1);
  box-shadow: 10px 10px 98px 34px rgb(17, 171, 65);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
}

.container {
  max-width: 1349px;
  margin: 0 auto;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
